<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>articles - simplon news</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/article.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

</head>
<body>
    <header></header>
    <main>
        <div class="articleContainer">
            <article class="articleContent">
                <div></div>
                <h1 id="articleTitle"></h1>
                <h3>Author: <span id="articleAuthor"></span></h3>
                <h2 id="articleResume"></h2>
                <p id=articleText></p>
                <div class="btsNextPrev">
                    <a href="#">&laquo; Article précédant</a>
                    <a href="#">Article suivant &raquo;</a>
                </div>
            </article>
            <aside>
                <img id="asideImg" src="" alt="">
                <h4 id="asideTitle"></h4>
            </aside>
        </div>
    </main>
    <footer></footer>
       <script src="../js/article.js"></script>
       <script src="../js/utils.js"></script>
</body>
</html>