<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home - simplon news</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
</head>

<body>
    <header></header>

    <main>
        <div class="container">
            <!-- code ici -->

            <div class="titre-categorie">
                <h3>Actualités</h3>

                <div class="search">
                    <h4>Aller à</h4>
                    <select name="categories" ></select>
                </div>
            </div>
            <section>
            </section>
        </div>
    </main>
    <footer></footer>
    <script src="../js/utils.js"></script>
    <script src="../js/home.js"></script>
</body>

</html>